* {
    box-sizing: border-box;
}
body {
    background-color: #e2c750;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    /* background-image: url(./image/mia.jpg); */
    /* background-image: linear-gradient(#cff075a2, #87975ca2), url(./image/mouse.png); */
    /* background-repeat: no-repeat; */
}
/* ===== estilos header==== */
.header {
    background-color: white;
    height: auto;
}
.header-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.logo-container {
    width: 150px;
}
.logo-container img {
    width: 100%;
    height: auto;
}
.title-container {
    display: flex;
    flex-direction: column;
}
.header-text {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgb(54, 40, 134);
    margin: 0;
}
.slogan {
    font-size: 20px;
    color: rgb(211, 107, 81);
    text-align: end;
    margin: 0;
}
/* ===== estilos Form Nueva Venta ==== */
.sections-container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    /* margin: none; */
}

.form-container {
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
    padding-left: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container div {
    display: flex;
    justify-content: center;
}
.form-container select {
    border: rgba(0, 0, 0, 0.582) solid 1px;
    border-radius: 5px;
}
.form-container button {
    border: none;
    background-color: #5579c5;
    transition: ease, 0.5s;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
}
.form-container button:hover {
    background-color: #768ec0;
    transition: ease, 0.5s;
}
.header-form {
    margin-bottom: 20px;
}
/* ===== estilos Listado de Ventas ===== */
.ventas-container {
    margin: 50px;
    padding: 30px;
    padding-left: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.685);
    margin-bottom: 50px;
}

.item {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.438);
}
.descripcion {
    font-weight: bold;
    border-top: none;
    padding-bottom: 10px;
}
.ventas-header {
    margin-left: 40px;
    padding-bottom: 20px;
}
.ventas-header h5 {
    font-weight: bold;
}

/* =====estilos informe ventas ===== */
.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 20px;
    background-color: #5579c5;
}
.results div {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.685);
}
.results h5 {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 15px;
}
.results select {
    border-radius: 5px;
    width: 80%;
}
.total {
    border-top: rgb(211, 107, 81) solid 2px;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.vendedora-del-mes-container {
    height: 80px;
}
li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}
label {
    display: block;
}
footer {
    background-color: rgb(211, 107, 81);
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 991px) {
    .sections-container {
        flex-direction: column;
    }
    .results {
        flex-direction: row;
        display: none;
    }
}
@media (max-width: 768px) {
    .descripcion {
        flex-wrap: nowrap;
    }
    .item {
        flex-wrap: nowrap;
    }
    .selects-flex {
        align-content: center;
    }
    .form-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .logo-container {
        width: 80px;
    }

    .header-text {
        font-size: 40px;
    }
    .slogan {
        font-size: 15px;
        color: rgb(211, 107, 81);
        text-align: end;
        margin: 0;
    }
}
@media (max-width: 500px) {
    .form-container {
        margin-right: 0;
        margin-left: 0;
    }
    .ventas-container {
        margin-right: 0;
        margin-left: 0;
    }
}
